*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(196, 178, 128, 0.781),rgba(196, 178, 128, 0.781)),url(background-image.jpg);
  background-size: cover;
  background-position: center;
.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 120px;
  cursor: pointer;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: rgba(100, 49, 34, 0.705);
  text-transform: uppercase;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: rgba(150, 78, 56, 0.432);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover:after{
  width: 100%;
}
.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: rgba(100, 49, 34, 0.705);
}
.content h1{
  font-size: 70px;
  margin-top: 80px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.content p{
  margin: 20px auto;
  line-height: 25px;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}
button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  border: 2px solid rgba(100, 49, 34, 0.705);
  background: transparent;
  color: rgba(100, 49, 34, 0.705);
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span{
  background: rgba(100, 49, 34, 0.705);
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
  
}
button:hover span{
  width: 100%;
}
button:hover{
  border: none;
  color: rgba(219, 191, 147, 0.664);
}